@{
    ViewBag.Title = "ABOUT US";
}
<p style="color:aqua">@ViewBag.Title.</p>
<p style="color:floralwhite">WE ARE TEAM FOODHUB!!!</p>

<p style="color:snow">"FOODHUB by using this application, people can place Food order to a restaurant so that they can save their time and efforts without difficulty in easy way seating anywhere."</p>
