@{
    ViewBag.Title = "CONTACT US";
}
<p style="color:floralwhite">@ViewBag.Title.</p>
<h3>@ViewBag.Message</h3>

<address style="color :whitesmoke">
    TELANGANA,HYDERABAD (INDIA)<br />
   ANAPURNA COMPLEX 9TH FLOOR(Uppal)<br />
    <abbr title="Phone">P:</abbr>
    7396698651
</address>

<address>
    <strong> Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>